html, body {
    width: 98%;
    height: 98%;
    background-color: #EEE;
}

.container {
    background-color: #FFF;
    width: 80%;
    margin: auto;
    padding: 20px;
}

#main {
    display: flex;
    flex-flow: wrap;
}

.status {
    border: 1px solid #666;
    max-width: 250px;
    max-height: 350px;
    overflow: hidden;
    margin: 10px;
    min-width: 200px;
    min-height: 150px;
}

.status_info {
    color: white;
    font-weight: bold;
    list-style-type: none;
    text-align: center;
    padding: 20px;
}

.status_type {
    color: #FFC;
}

.success {
    background-color: #47a72f;
}

.failure {
    background-color: #cb1e1e;
}

.timeout {
    background-color: #c88209;
}

a {
    text-decoration: none;
    color: #66A;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

pre {
    text-align: left !important;
}
